header, footer {
	padding: 10px;
	color: white;
	background-color: blue;
	clear: left;
	text-align: left;

}

.botton {
	color: white;
	background-color: blue;
	float: right;
	margin-left: 10px;
}
#ofekIm {
	padding: 5px;
	clear: left;
	text-align: left;
	width:25px;
	height:25px;
}
#ofekTitle{
	font-size: 25px;
}

#chatBox {
	font-size: 20px;
	margin-top: 25px ;
	margin-left:250px;
	width:350px;
	height:75px;

}
#user{
	float: left;
}
.userChat{
	margin-left: 200px;
}