/*
header, footer {
	padding: 1%;
	color: white;
	background-color: blue;
	clear: left;
	text-align: left;

}

.botton {
	color: white;
	background-color: blue;
	float: right;
	margin-left: 3%;
}

a{
	text-decoration: none;
}
#ofekTitle {
	font-size:100%;
	font-family: Arial,serif;
	clear: right;
	text-align: right;
	color: white;
}  #ofekIm.navbar {
	width: 4%;
	height:  4%;

}
.sign-in {
	margin: 150px;
	margin-top: 20px;
}

*/
.image{
	height: 25px;
}
.backgroud-color{
	background-color: #2b669a;

}
.text-color{
	color: white;
	font-family: Arial,serif;
	font-size: medium;
}