

.panel {
	margin-top: 10%;
	padding: 0 !important;
}

/*header, footer {
	padding:5px;
	color: white;
	background-color: blue;
	clear: left;
	text-align: left;

}

.botton {
	color: white;
	background-color: blue;
	float: right;
	margin-left: 10px;
}

#ofekIm {

	width: 25px;
	height: 25px;


}
a{
	text-decoration: none;
	margin-top: 10px ;
	margin-right: 10px;
	font-size: 15px;
}
#ofekTitle {
	font-size: 20px;
	font-family: Arial, serif;
	clear: right;
	text-align: right;
	color: white;
}