.image{
	height: 25px;
}
.text-color{
	color: white;
	font-family: Arial,serif;
	font-size: medium;
}

.backgroud-color{
	background-color: #2b669a;
}

.modal-content{
	position: relative;
}

#login-botton{
	margin-left: 5%;
}
