header, footer {
	padding: 10px;
	color: white;
	background-color: blue;
	clear: left;
	text-align: left;

}

.botton {
	color: white;
	background-color: blue;
	float: right;
	margin-left: 10px;
}
#ofekIm {
	padding: 5px;
	clear: left;
	text-align: left;
	width:25px;
	height:25px;
}.Filter{
	 margin-top: 40px;
	 text-align: center;
 }
.userLeft{
	margin-left: 25px;
	margin-top: 70px;
	float: left;
	text-align: center;
}
#ofekTitle{
	 font-size: 25px;
 }
.userRight{
	margin-right: 25px;
	margin-top: 70px;
	margin-left: 70px;
	margin-bottom: 25px;
	float: right;
	text-align: center;
}    /*new sakak*/