<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ofek</title>
	<link rel="stylesheet" type="text/css" href="../CSS/SignUp.css">
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<header>
	<nav class="navbar backgroud-color">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="navLeft">
						<a class="text-color" href="../views/Chat.html">
							<img src="../Images/ofek.png" class="image" alt="...">
							OfekTwitter
						</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a href="../views/UserFilter.html" class="text-color">Users</a></li>
					<li><a href="../views/ofek.html" class="text-color">Sign in</a></li>
					<li><a href="../views/SignUp.html" class="text-color">Sign up</a></li>

				</ul>
			</div>
		</div>
	</nav>
</header>

<form class="modal-content animate" action="/action_page.php">

		<div class="panel panel-primary col-xs-3 col-xs-offset-4">
			<div class="panel-heading"><h3 class="panel-title">Sign up</h3></div>
			<br>

			<div class="container col-xs-offset-2">
				<div class="ditails col-xs-2">
					<br>
					<label><b>Username</b></label>
					<br>
					<input type="text" placeholder="Enter Username" name="uname" required><br>
					<br>
					<label><b>Password</b></label> <br>
					<input type="password" placeholder="Enter Password" name="psw" required><br>
					<br>
					<label><b>Cunfirm Password</b></label> <br>
					<input type="password" placeholder="Confirm Password" name="confirm" required><br>
					<br>
					<button type="submit" id="login-botton">Login</button>
					<br>
				</div>

			</div>

			<div class="panel-body"></div>

	</div>


</form>

</div>
</body>
</html>
